

.MoviesContainer {
  text-align: center;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.MoviesCard {
  width:450px;
  height:auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MoviesCard img {
  width: 80%;
  height: 300px;
}

.movieDetails {
  padding: 10px;
}
